<!DOCTYPE html>
<html lang="en">
<head>
    <title>ThumbStack</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet"> 
    <style>
        body {
           background-image: url("../static/assests/Background_image.jpg");
           background-size: cover;
           background-repeat: no-repeat;
        }
     </style>
</head>
<body>

    <div class="container">
        <div class="col text-center glow" style=" font-family:  'Otomanopee One', sans-serif; font-size: xx-large;color: azure;">
            <h1 style="font-size:6.5vw;">
            ThumbStack <br>Logo Detector
            </h1>
        </div>
        <br><br><br><br>
        <div class="row text-center justify-content-center" style="font-family: 'Merienda', cursive;">
            <div class="col align-self-center">
                <form class="form" action="/submit" method="post" enctype="multipart/form-data">

                    <div class="form-group row justify-content-center">
                        <label class="control-label col align-self-center text" for="pwd">Upload Your Image :</label><br> <br>         
                        <input type="file" class="form-control" placeholder="Hours Studied"  name="image" id="pwd">
                    </div><br>
        
                    <div class="form-group row ">        
                        <div class="col align-self-center">
                          <button class="btn btn-warning btn-lg" type="submit" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        

        {% if prediction %}
        <div class="row text-center justify-content-center predict" style="font-family: 'Merienda', cursive;">
            <h2>Your Prediction: </h2>
            <i>{{prediction}}</i><br>
            <!-- <img width="100%" height="100%" src="{{url_for('display_image',filename=img_path)}}" > -->
            {% if img_path %}
                <div>
                    <img src="{{ url_for('display_image', filename=img_path) }}" style="height: 50vh; width: max-content;">
                </div>
            {% endif %}
            
            <br><br>
        </div>
        {% endif %}
            
    </div>
    <footer class="text-center text-lg-start" style="background-color: rgb(0, 0, 0); color: whitesmoke;font-family: 'Merienda', cursive;">
        <div class="row text-light">
            <div class="col-lg-3 col-md-12 mb-4">
                
            </div>
            <div class="col-lg-5 col-md-6 mb-4 text-start pt-3">
                <p>
                D3, First Floor, Matrushradha CHS, Plot Number 2<br>
                Veer Savarkar Nagar,<br>
                Thane West,Mumbai - 400606<br>
                Email: ritesh@thumbstack.in<br>
                Phone: +91 8976 798 808 </p>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 text-start">
                <h4>Quick Links</h4>
                <ul class="list-unstyled mb-0" style="text-decoration: none;">
                    <li class="mb-1">
                        <a href="http://thumbstack.in/" style="text-decoration: none;">Home</a>
                    </li>
                    <li class="mb-1">
                        <a href="http://thumbstack.in/index.php/services" style="text-decoration: none;">Services</a>
                    </li>
                    <li class="mb-1">
                        <a href="http://thumbstack.in/index.php/thumbstackportfolio" style="text-decoration: none;">Portfolio</a>
                    </li>
                    <li>
                        <a href="http://thumbstack.in/index.php/about-us" style="text-decoration: none;">About Us</a>
                    </li>
                    <li>
                        <a href="http://thumbstack.in/index.php/contact" style="text-decoration: none;">Contact</a>
                    </li>
                    <li>
                        <a href="http://thumbstack.in/index.php/careers" style="text-decoration: none;">Careers</a>
                    </li>
                </ul>		
                
            </div>
        </div>
    </footer>
</body>
</html>